<div class="card bg-light mb-3" style="max-width: 18rem;">
  <div class="card-header noWrap">{{hero.name}}
    <span class="armorIconContainer">
      <i *ngFor="let armor of armors" class="{{armor.piece !== null ? armor.icon : ''}} armorIcon"></i>
    </span>
  </div>
  <div class="card-body">
    <h5 class="card-title">{{hero.race.toLowerCase()}} <img [src]='hero.sexe==="m"? "../../assets/male.svg": "../../assets/female.svg"' width="16px"></h5>
    <p><i class="ra ra-gold-bar money"></i>{{hero.gold}}</p>
    <ul>
      <li *ngFor="let stat of stats">
        <i class="{{iconName[stat.name].name}}" [ngStyle]="{'color': iconName[stat.name].color}"></i>{{stat.name}}: {{stat.value}}
      </li>
    </ul>
    <div *ngFor="let config of hero.config">
      <h5 *ngIf="config.primary">Armes principales</h5>
      <h5 *ngIf="!config.primary">Armes secondaires</h5>
      <ul>
        <li *ngFor="let weapon of config.weapons"><i [class]="type[weapon.type].icon" [ngStyle]="{'color': 'rgba('+getIconColor(weapon.state).r+','+ getIconColor(weapon.state).g+', 0)'}"></i>{{weapon.name.toLowerCase()}}: {{weapon.damage}} dmg<p *ngIf="weapon.type =='BOW' || weapon.type =='CROSSBOW'"><i class="ra ra-arrow-flights"></i>Flèches: {{config.ammos}}</p></li>
        <li *ngIf="config.shield"><i class="ra ra-shield" [ngStyle]="{'color': 'rgba('+getIconColor(config.shield.state).r+','+ getIconColor(config.shield.state).g+', 0)'}"></i>{{config.shield.name.toLowerCase()}} : {{config.shield.armor}} arm</li>
      </ul>
    </div>
    <div>
      <p *ngFor=""></p>
    </div>
  </div>
</div>
