li {
  list-style-type: none;
}

ul{
  margin:0;
  padding:0;
  padding-bottom: 10px;
  padding-top: 10px;
  border-bottom: 1px solid grey;
  border-top: 1px solid grey;
}

i{
  margin:10px;
}

.money{
  color:gold;
}

.noWrap{
  white-space: nowrap;
}

.armorIcon{
  margin:0!important;
  width:16px;
}

.armorIconContainer{
  margin-left: 10px;
}
